<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of qualifications</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</head>
<body>
<center> <h2> List of Qualifications  </h2> </center>
<table class="table table-info table-striped-columns">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">National_code</th>
      <th scope="col">Qualification_Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for qualification in  qualifications %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{qualification.national_code}}</td>
      <td>{{qualification.qualification_name}}</td>

      <td><a href="{% url 'timetable:timetable' qualification.national_code %} " class=" btn btn-primary">View Timetable</a></td>
    </tr>


  {% endfor %}
  </tbody>


</table>

</body>
</html>