<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</head>
<body>



<table  class="table table-success table-striped-columns">
  <thead>
    <tr>
      <th scope="col">SN</th>
      <th scope="col">Week</th>
      <th scope="col">Unit Code</th>
      <th scope="col">Unit of Competetency</th>
      <th scope="col">Core/Elective</th>
      <th scope="col">Duration</th>
      <th scope="col">Class Hour</th>
      <th scope="col">Unit Start</th>
      <th scope="col">Unit End Date</th>
      <th scope="col">Assignment Deu Date</th>
    </tr>
  </thead>
  <tbody>
  {% for date in dates  %}


    <tr>

      <th scope="row">{{forloop.counter}}</th>
      <td>{{date.qualification}}</td>
      <td>{{date.unit_code}}</td>
      <td>{{date.unit_name}}</td>
      <td>{{date.status}}</td>
      <td>{{date.duration}}</td>


       {% for enn in classhour  %}
        {% if forloop.counter == forloop.parentloop.counter %}
      <td>{{ enn }}</td>
      {% endif %}
      {% endfor %}


      <td>{{date.unit_start_date}}</td>
      {% for enn in end  %}
        {% if forloop.counter == forloop.parentloop.counter %}
      <td>{{ enn }}</td>
      {% endif %}
      {% endfor %}


      {% for assignmen in assignmentdate %}
       {% if forloop.counter == forloop.parentloop.counter %}
      <td>{{assignmen}}</td>
       {% endif %}
       {% endfor %}




    </tr>

  {% endfor %}



  </tbody>



</body>
</html>